<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TGI</display-name>
  <welcome-file-list>
    <welcome-file>acesso.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <listener>  
    <listener-class>  
      controle.FinalizaSessao
    </listener-class>  
  </listener>
  <listener>
  	<listener-class>listener.ApplicationInitializer</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ServletChamado_Aceite</display-name>
    <servlet-name>ServletChamado_Aceite</servlet-name>
    <servlet-class>controle.ServletChamado_Aceite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChamado_Aceite</servlet-name>
    <url-pattern>/ServletChamado_Aceite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletChamado_Cliente</display-name>
    <servlet-name>ServletChamado_Cliente</servlet-name>
    <servlet-class>controle.ServletChamado_Cliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChamado_Cliente</servlet-name>
    <url-pattern>/ServletChamado_Cliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletChamado_Envio</display-name>
    <servlet-name>ServletChamado_Envio</servlet-name>
    <servlet-class>controle.ServletChamado_Envio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChamado_Envio</servlet-name>
    <url-pattern>/ServletChamado_Envio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletChamado_Final</display-name>
    <servlet-name>ServletChamado_Final</servlet-name>
    <servlet-class>controle.ServletChamado_Final</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChamado_Final</servlet-name>
    <url-pattern>/ServletChamado_Final</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletChamado</display-name>
    <servlet-name>ServletChamado</servlet-name>
    <servlet-class>controle.ServletChamado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChamado</servlet-name>
    <url-pattern>/ServletChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContrato</display-name>
    <servlet-name>ServletContrato</servlet-name>
    <servlet-class>controle.ServletContrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContrato</servlet-name>
    <url-pattern>/ServletContrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConvenio</display-name>
    <servlet-name>ServletConvenio</servlet-name>
    <servlet-class>controle.ServletConvenio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConvenio</servlet-name>
    <url-pattern>/ServletConvenio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMotorista</display-name>
    <servlet-name>ServletMotorista</servlet-name>
    <servlet-class>controle.ServletMotorista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMotorista</servlet-name>
    <url-pattern>/ServletMotorista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPassageiro</display-name>
    <servlet-name>ServletPassageiro</servlet-name>
    <servlet-class>controle.ServletPassageiro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPassageiro</servlet-name>
    <url-pattern>/ServletPassageiro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuario</display-name>
    <servlet-name>ServletUsuario</servlet-name>
    <servlet-class>controle.ServletUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuario</servlet-name>
    <url-pattern>/ServletUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAcesso</display-name>
    <servlet-name>ServletAcesso</servlet-name>
    <servlet-class>controle.ServletAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAcesso</servlet-name>
    <url-pattern>/ServletAcesso</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroAcesso</display-name>
    <filter-name>FiltroAcesso</filter-name>
    <filter-class>controle.FiltroAcesso</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAcesso</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>  
  <filter-mapping>
    <filter-name>FiltroAcesso</filter-name>
    <url-pattern>/Servlet*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMovel</display-name>
    <servlet-name>ServletMovel</servlet-name>
    <servlet-class>controle.ServletMovel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMovel</servlet-name>
    <url-pattern>/ServletMovel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRelatorioLog</display-name>
    <servlet-name>ServletRelatorioLog</servlet-name>
    <servlet-class>controle.ServletRelatorioLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRelatorioLog</servlet-name>
    <url-pattern>/ServletRelatorioLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioChamado</display-name>
    <servlet-name>RelatorioChamado</servlet-name>
    <servlet-class>controle.RelatorioChamado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioChamado</servlet-name>
    <url-pattern>/RelatorioChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRelatorioChamado</display-name>
    <servlet-name>ServletRelatorioChamado</servlet-name>
    <servlet-class>controle.ServletRelatorioChamado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRelatorioChamado</servlet-name>
    <url-pattern>/ServletRelatorioChamado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMovelWeb</display-name>
    <servlet-name>ServletMovelWeb</servlet-name>
    <servlet-class>controle.ServletMovelWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMovelWeb</servlet-name>
    <url-pattern>/ServletMovelWeb</url-pattern>
  </servlet-mapping>
</web-app>